<h3 class="text-center">List of recipes</h3>
<div class="container">
  <div *ngFor="let recipe of listRecipes">
    <app-recipe
      [id]="recipe.id"
      [name]="recipe.name"
      [recipeContent]="recipe.recipeContent"
    ></app-recipe>
  </div>
</div>
