<div class="d-flex align-items-center header">
  <a href="/" class="ml-3"><h3>Zenicook</h3></a>
  <div class="ml-5">
    <a href="/">Recipes</a>
    <a href="/ingredients">Ingredients</a>
  </div>
  <div>

  </div>
</div>
